@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap");
:root {
  --header-height: 3rem;

  /*===== Colores =====*/
  --primary-color: #e6fdff;
  --highlight1-color: #c3ffff;
  --highlight2-color: #7bf2f2;
  --text-color: #262525;

  /*===== Fuente y tipografia =====*/
  --body-font: "Montserrat", sans-serif;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --large-font-size: 1.813rem;

  /*===== z index =====*/
  --z-fixed: 100;
}

@media screen and (min-width: 768px) {
  :root {
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
  }
}

/*===== BASE =====*/
*,
::before,
::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.bd-grid {
  max-width: 1024px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
  grid-template-columns: 100%;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

/*===== HEADER =====*/
.header {
  width: 100%;
  height: var(--header-height);
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 1.5rem;
  background-color: var(--primary-color);
  z-index: var(--z-fixed);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  color: var(--text-color);
}

.header__toggle {
  font-size: 1.5rem;
  color: var(--text-color);
  cursor: pointer;
}

/*===== NAV =====*/
@media screen and (max-width: 768px) {
  .nav {
    position: fixed;
    top: 0;
    left: -100%;
    background-color: var(--primary-color);
    color: var(--text-color);
    width: 100%;
    height: 100vh;
    padding: 1.5rem 0;
    z-index: var(--z-fixed);
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
}

.nav__content {
  height: 100%;
  -ms-grid-rows: max-content 1fr max-content;
  grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
  grid-template-rows: max-content 1fr max-content;
  row-gap: 2rem;
}

.nav__close {
  position: absolute;
  right: 1.5rem;
  font-size: 1.3rem;
  padding: 0.25rem;
  background-color: var(--primary-color);
  border-radius: 50%;
  cursor: pointer;
}

.nav__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-top: 0.25rem;
  margin-bottom: 0.8rem;
  width: 30px;
  height: 35px;
  /*background-color: var(--hightlight1-color);*/
  border-radius: 150%;
  overflow: hidden;
}

.nav__img img {
  width: 100px;
}

.nav__name {
  display: block;
  color: var(--text-color);
  font-weight: 700;
  /*padding-right: 300px;*/
}
.nav__name:hover {
  color: #262525;
}

.nav__profesion {
  line-height: 2;
  margin: 2.5rem 0;
  /*font-size: var(--small-font-size);*/
}

.nav__pizza {
  font-size: var(--large-font-size);
}

.nav__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav__menu {
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.nav__item {
  margin: 2.5rem 0;
}

.nav__link {
  color: var(--text-color);
}
.nav__link:hover {
  color: #262525;
}

.nav__social {
  padding-top: 0.5rem;
}

.nav__social-icon {
  font-size: 1.2rem;
  color: var(--text-color);
  margin-right: 1rem;
}

.foodart {
  padding-top: 30px;
  margin-top: 5.5rem;
  width: 432px;
  height: 520px;
  /*border-radius: 5px;*/
  background: url("../img/foodart.png");
  background-size: 100% auto;
  animation: slide 20s infinite;
}

@keyframes slide {
  25% {
    background: url("../img/dalgona.png");
    background-size: 100% auto;
  }
  50% {
    background: url("../img/lightbulb.png");
    background-size: 100% auto;
  }
}

.zoom:hover {
  transform: scale(1.025) rotate(0.001deg);
}
/*.nav__social-icon:hover {
  color: var(--hightlight1-color);
}*/

.blue-button {
  display: inline-block;
  background-color: var(--highlight1-color);
  padding: 0.25rem 0.75rem;
  font-weight: 600;
  margin-top: auto;
  border-radius: 0.5rem;
  box-shadow: 0 3px 6px #c9dddf;
  /*padding: 8px 10px 0px;*/
  height: 35px;
}
.blue-button:hover {
  transform: scale(1.025) rotate(0.001deg);
  background-color: var(--highlight2-color);
}

.link {
  color: var(--text-color);
}
.link:hover {
  color: var(--text-color);
}

.small-text {
  font-size: 14px;
}

.small-text-italics {
  font-size: 14px;
  font-style: italic;
}
::selection {
  color: #fff;
  background: var(--primary-color);
}

/*----begin timeline----*/

.wrapper {
  background: var(--primary-color);
  /*max-width: 1080px;*/
  margin: 50px auto;
  padding: 0 20px;
  position: relative;
}
.wrapper .center-line {
  position: absolute;
  height: 75%;
  width: 4px;
  background: #fff;
  left: 50%;
  top: 210px;
  transform: translateX(-50%);
}
.wrapper .row {
  display: flex;
}
.wrapper .row-1 {
  justify-content: flex-start;
}
.wrapper .row-2 {
  justify-content: flex-end;
}
.wrapper .row section {
  background: #fff;
  border-radius: 5px;
  width: calc(50% - 40px);
  padding: 20px;
  /*margin: 10px;*/
  position: relative;
  box-shadow: 0 3px 3px #c9dddf;
}
.wrapper .row section::before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  top: 28px;
  z-index: -1;
  transform: rotate(45deg);
}
.row-1 section::before {
  right: -7px;
}
.row-2 section::before {
  left: -7px;
}
.row section .icon {
  position: absolute;
  background: var(--highlight1-color);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  /*color: #ff7979;*/
  font-size: 24px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}
.center-line .scroll-icon {
  position: absolute;
  background: var(--highlight1-color);
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  /*color: #ff7979;*/
  font-size: 17px;
  box-shadow: 0 0 0 4px #fff, inset 0 2px 0 rgba(0, 0, 0, 0.08),
    0 3px 0 4px rgba(0, 0, 0, 0.05);
}

.center-line .scroll-icon {
  bottom: 0px;
  left: 50%;
  font-size: 25px;
  transform: translateX(-50%);
}
.row-1 section .icon {
  top: 15px;
  right: -60px;
}
.row-2 section .icon {
  top: 15px;
  left: -60px;
}
.row section .details,
.row section .logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.row section .details .title {
  font-size: 22px;
  font-weight: 600;
}
.row section p {
  margin: 10px 0 17px 0;
}
.row section .logo {
  width: 40%;
  /*text-decoration: none;
    background: #E6FDFF;
    color: #fff;
    padding: 7px 15px;
    border-radius: 5px;
    font-size: 17px; 
    font-weight: 400;
    transition: all 0.3s ease;*/
}
.row section .logo-jp {
  width: 50%;
}

.row section .bottom a:hover {
  transform: scale(0.97);
}
@media (max-width: 790px) {
  .wrapper .center-line {
    left: 40px;
  }
  .wrapper .row {
    margin: 30px 0 3px 60px;
  }
  .wrapper .row section {
    width: 100%;
  }
  .row-1 section::before {
    left: -7px;
  }
  .row-1 section .icon {
    left: -60px;
  }
}
@media (max-width: 440px) {
  .wrapper .center-line,
  .row section::before,
  .row section .icon {
    display: none;
  }
  .wrapper .row {
    margin: 10px 0;
  }
}

/*----end timeline----*/

/*Aparecer menu*/
.show {
  left: 0;
}

/*Active menu*/
.active {
  color: var(--highlight1-color);
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--primary-color);
  color: var(--text-color);
  text-align: left;
  font-weight: 500;
  padding: 2rem;
  margin-bottom: 5px;
}

.footer__details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__title {
  text-align: left;
  font-size: 2rem;
}

.footer__top {
  text-align: right;
  font-size: 14px;
}

.footer__social {
  padding-top: 1.5rem;
}

.footer__icon {
  font-size: 1.5rem;
  color: var(--text-color);
  margin: 0 0rem;
}
.footer__icon:hover {
  color: var(--highlight1-color);
}

.footer__signature {
  text-align: right;
  font-size: 14px;
}

/*===== MEDIA QUERIES =====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .header {
    /*height: calc(var(--header-height) + 1rem);*/
    height: calc(var(--header-height) + 1rem);
  }
  .header__logo,
  .header__toggle {
    display: none;
  }
  .nav {
    width: 100%;
  }
  .nav__content {
    -ms-grid-columns: (max-content) [3];
    grid-template-columns: repeat(3, -webkit-max-content);
    grid-template-columns: repeat(3, max-content);
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
    -webkit-column-gap: 1rem;
    column-gap: 1rem;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .nav__close,
  .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img {
    width: 32px;
    height: 32px;
    margin-right: 0.5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .nav__img img {
    width: 26px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 0.25rem;
  }
  .nav__link {
    padding: 0.5rem 0.8rem;
    border-radius: 0.25rem;
  }
  .nav__link:hover {
    background-color: var(--highlight1-color);
  }
  .active {
    background-color: var(--highlight1-color);
    color: var(--text-color);
  }
}

@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
